<div class="col-md-4 col-md-offset-2">
  <h1>Edit your To Do</h1>

  <form class="edit-form form-group" action="/todo" method="post">
    <%= auth_token_input %>
    <input type="hidden" name="_method" value="patch">

    <div class="form-group">
      <label>Title
        <input type="text" class="form-control" name="todo[title]" value="">
      </label>
    </div>
    <div class="form-group">
      <label>Date Due
        <input type="date" class="form-control" name="todo[due_date]" value="">
      </label>
    </div>
    <div class="form-group">
      <label>Details
        <textarea name="todo[details]" class="form-control" rows="8" cols="20"></textarea>
      </label>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-primary" value="Submit">
      <button class="cancel-edit btn btn-primary" onclick="cancelEdit()">Cancel Edit</button>
    </div>

  </form>
</div>
